<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    Author
  </h3>
  <p>
    <div class="media">
      <h4 class="media-heading">sspan</h4>
      <div class="media-body">
        <img src="https://avatars1.githubusercontent.com/u/22671902?v=4&s=460" onload='if (this.width>100 || this.height>100) if (this.width/this.height>140/226) this.width=100; else this.height=100;' alt="ss pan">
      </div>
    </div>
  </p>
  <p> A coder. </p>
  <p><a href="https://github.com/sspantz" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>
</div>
<wb:follow-button uid="5880322471" type="red_2" width="136" height="24" ></wb:follow-button>

<!-- <p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p> -->

